@CHARSET "UTF-8";

body{
	color:#4CAF50;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container{
	text-align: center;
}

.jumbotron { 
    background-color: #4CAF50;
    color: #ffffff;
}

.logo {
    font-size: 70px;
    margin-right: 20px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.box{
	background-color: #4CAF50;
	color:#ffffff;
	margin:5px 5px 5px 5px;
}
